.container {
  text-align: center;
  margin: 10vh auto;
}

.header-div {
  background-image: url(psbg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
}

.header {
  color: white;
  padding: 10vh;
}

a {
  margin: 5px;
  color: white;
}

a:hover {
  text-decoration: none;
  color: grey;
}

#headshot {
  border-radius: 50%;
  height: 25vh;
  margin: 5vh auto;
}

.col .project-grid {
  background-color: grey;
}
